@model Lab5.Models.ProfileModel

<div>
    <label for="Username">Ім'я користувача: </label>
    <b>@Model.Username</b>
</div>

<div>
    <label for="FullName">ФІО: </label>
    <b>@Model.FullName</b>
    
</div>

<div>
    <label for="Phone">Телефон: </label>
    <b>@Model.Phone</b>
   
</div>

<div>
    <label for="Email">Електронна пошта: </label>
    <b>@Model.Email</b>
</div>

<div>
  
</div>

